.container{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    /* background-image: url("empty-dark-room-modern-futuristic-sci-fi-background-3d-illustration.jpg"); */
}
.form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    overflow: scroll;
    background-color:azure;
    border-radius: 16px; /*ขอบมน*/
    padding: 32px; /*ระหว่างขอบกับตัวหนังสือด้านใน ใส่2ค่า = บนล่าง ซ้ายขวา*/
    justify-content:center;

}
.myInput{
    border :solid 1px #999;
    text-align: left;
    border-radius :8px;
    justify-content: center;
    padding: 10px;
}

.registerLabel {
    text-align: center;
    margin-top: 100px;
}

.myLabel{
    margin-top: 16px; 
    margin-left: 16px;
    text-align: left;
}
.myButton{
    border-radius: 999px;
    background-color: rgb(181, 112, 255);
    margin-top : 16px;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: rgb(255, 255, 255);
}
.myButton:hover{
    background-color:rgb(3, 34, 46);
}
#submit-button{
    margin-top: 16px;
}

.mynewInput {
    width: 20px;
}